<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
  <meta charset="UTF-8"/>
   <title>Enviar parametros del request HTTP GET - URL </title>
</head>
<body>
	<h1>Enviar parametros del request HTTP GET - URL</h1>
	<ul>
		<li><a th:href="@{/params/string(texto='Hola Anthony')}">/params/string?texto=Hola Anthony</a></li>
		<li><a th:href="@{/params/string(texto='Que tal')}">/params/string?texto=Que tal</a></li>
		<li><a th:href="@{/params/mix-params(saludo='Como estas Antthony', numero=7)}">/params/mix-params?saludo=Como estas Andres&numero=8</a></li>
		<li><a th:href="@{/params/mix-params-request(saludo='Que tal', numero=8)}">/params/mix-params-request?saludo=Como estas Andres&numero=8</a></li>
	</ul>
	
	
</body>
</html>